*~
*#*

scade2b/*~
scade2b/_build
scade2b/*#*
scade2b/scade2b
scade2b/nav_tests
scade2b/*.cm[iop]
scade2b/*.out
scade2b/bisect-report
scade2b/.depends
scade2b/scade2b.cov

rapport/
presentation/
doc/
notes/
reunion/
scade2b/tests/*.test/Machines_B
scade2b/tests/*.ok
